<!doctype html>
<html>

<head>
   <meta charset="utf-8">
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
   <meta name="robots" content="index, follow">
   <link rel="shortcut icon" type="image/png" href="favicon.png">

   <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css?4683">
   <link rel="stylesheet" type="text/css" href="style.css?2001">
   <link rel="stylesheet" type="text/css" href="./css/animate.min.css?9016">
   <link href='https://fonts.googleapis.com/css?family=Oswald&display=swap&subset=latin,latin-ext' rel='stylesheet'
      type='text/css'>
   <title>Home</title>


   <script>
      window.addEventListener('scroll', function () {
         const scrollPosition = window.scrollY;  // 현재 스크롤 위치
         const image = document.querySelector('.JJscroll-image');
         // 이미지가 스크롤 위치에 따라 아래로 움직이게
         image.style.transform = `translateY(${scrollPosition * 0.25}px)`;
      });

      function showMessage() {
         document.getElementById("quizmessage").style.display = "block";
      }


   </script>
   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

   <!-- Preloader -->
   <div id="page-loading-blocs-notifaction" class="page-preloader"></div>
   <!-- Preloader END -->


   <!-- Main container -->
   <div class="page-container">

      <div class="bloc l-bloc" id="bloc-0">
         <div class="container bloc-sm">
            <div class="JJimage-bar">
               <img src="roadBG.png" alt="Scroll Image" class="JJfixed-image">
               <img src="car2.png" alt="Scroll Image" class="JJscroll-image">

            </div>
            <div class="JJJcontent">
               <div class="row">
                  <div
                     class="text-center text-md-start l-bloc col-md-12 col-lg-12 offset-lg-0 mb-4 text-sm-start pe-0 ps-0 ps-sm-2 pe-sm-2 mb-lg-4 ps-lg-3 pe-lg-3">
                     <div class="Jbento-box">
                        <div class="row">
                           <div class="col align-self-center">
                              <div class="row">
                                 <div class="col-12 mb-2 col-sm-7 col-md-8 col-lg-9">
                                    <h1 class="mini-heading mb-0 tc-6153">
                                       Accident&nbsp;Infocontact Me
                                    </h1>
                                    <h2 class="mb-0 tc-2190">
                                       교통약자 보행 교통사고
                                    </h2>
                                 </div>
                                 <div
                                    class="col-12 align-self-center text-lg-end text-sm-end col-sm-5 col-md-4 col-lg-3">
                                    <a href="./contact/" class="btn btn-d btn-rd box-btn primary-btn">Contact
                                       Me</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div
                     class="col-md-12 align-self-center col-lg-12 text-lg-start text-center pe-0 ps-0 ps-md-2 pe-md-2 text-md-start mb-3 mb-lg-4 ps-lg-3 pe-lg-3">
                     <a href="./catergory/" class="a-btn text-lg-left token-link active-token">Quiz</a><a
                        href="#kids-section" class="a-btn text-lg-left token-link">Kids</a>
                     <a href="#senior-section" class="a-btn text-lg-left token-link">Senior</a>
                     <a href="#compare-section" class="a-btn text-lg-left token-link">Compare</a>
                     <!-- <a href="#policy-section" class="a-btn text-lg-left token-link">Policy</a> -->
                     <a href="#safeZone-section" class="a-btn text-lg-left token-link">Safe Zone
                        Map</a><!-- <a href="./catergory/" class="a-btn text-lg-left token-link">Safe Zone Map</a><a href="./catergory/" class="a-btn text-lg-left token-link">Icon Design</a><a href="./catergory/" class="a-btn text-lg-left token-link">Copy Writing</a> -->
                  </div>


                  <div
                     class="col-md-6 text-center text-md-start mb-4 col-lg-6 text-sm-start pe-0 ps-0 col-sm-6 ps-sm-2 pe-sm-2 mb-sm-2 mb-lg-4 ps-lg-3 pe-lg-3">
                     <!-- 그래프 이미지-->
                     <div class="bento-box Jbg-img-box text-start">
                        <h1>&nbsp;&nbsp;&nbsp;Quiz1</h1>
                        <hr />
                        <div class="Jcontainer">
                           <div class="Jleft-image">
                              <img src="./seniorQuiz.png" alt="seniorQuiz" width="500px" />
                           </div>
                           <div class="Jright-text">
                              <div class="quiz-box small">
                                 <h4 class="quiz-question">Q. 노인보호구역에 대한 설명 중 틀린 것은?</h4>
                                 <ul class="quiz-options">
                                    <li>
                                       <span class="icon-number">&#9312;</span> 오전 8시부터 오후 8시까지 제한속도를 위반한 경우 범칙 금액이
                                       가중된다.
                                    </li>
                                    <li>
                                       <span class="icon-number">&#9313;</span> 보행신호의 시간이 더 길다.
                                    </li>
                                    <li>
                                       <span class="icon-number">&#9314;</span> 노상 주차장 설치를 할 수 없다.
                                    </li>
                                    <li class="Jquiz-options">
                                       <span class="icon-number">&#9315;</span> 노인들이 잘 볼 수 있도록 규정보다 신호등을 크게 설치할 수 있다.
                                    </li>
                                 </ul>
                              </div>
                           </div>
                           <br>
                        </div>

                     </div>
                  </div>
                  <div
                     class="col-md-6 text-center text-md-start mb-4 col-lg-6 text-sm-start pe-0 ps-0 col-sm-6 ps-sm-2 pe-sm-2 mb-sm-2 mb-lg-4 ps-lg-3 pe-lg-3">
                     <!-- 그래프 이미지-->
                     <div class="bento-box Jbg-img-box text-start">
                        <h1>&nbsp;&nbsp;&nbsp;Quiz2</h1>
                        <hr />
                        <div class="Jcontainer">
                           <div class="Jleft-image">
                              <img src="./carQuiz.png" alt="seniorQuiz2" width="500px" />
                           </div>
                           <div class="Jright-text">
                              <div class="quiz-box small">
                                 <h4 class="quiz-question">Q. &nbsp;20대, &nbsp;30대, &nbsp;40대, &nbsp;50대,<br> 60-65세,
                                    &nbsp;65세 이상 운전자 중 <br> 65세 이상 운전자의 사고율이 <br>가장 높다.</h4>
                                 <ul class="Jquiz-options">
                                    <li>
                                       &nbsp;&nbsp;&nbsp;
                                       <span class="icon-number">O</span>
                                    </li>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <li class="JJquiz-options" onclick="showMessage(this)">
                                       &nbsp;&nbsp;&nbsp;
                                       <span class="icon-number">X</span>
                                    </li>
                                 </ul>
                                 <br>
                                 <div id="quizmessage"><strong>50대 </strong>운전자의 사고율이<br> 가장 높습니다.</div>
                              </div>
                           </div>
                           <br>
                        </div>
                     </div>
                  </div>

                  <div id="kids-section" style="position: relative; top:-200px;"></div>
                  <!-- <div src="./ppt.png"> </div> -->
                  <div
                     class="col-md-6 text-center text-md-start mb-4 col-lg-6 text-sm-start pe-0 ps-0 col-sm-6 ps-sm-2 pe-sm-2 mb-sm-2 mb-lg-4 ps-lg-3 pe-lg-3">
                     <!-- 그래프 이미지-->
                     <div id="kids-section" class="bento-box Jbg-img-box text-start Jbox-bg-1">

                        <h1 style="text-align: center;">어린이 보행자 교통사고</h1>
                        <hr />
                        <canvas id="mixChart" width="500" height="350"></canvas>
                     </div>
                  </div>


                  <div
                     class="col-md-12 text-md-start mb-4 col-lg-6 text-sm-start text-start pe-0 ps-0 col-sm-6 pe-sm-2 ps-sm-2 mb-sm-3 mb-lg-4 ps-lg-3 pe-lg-3">
                     <div class="bento-box Jbg-img-box">
                        <div class="container">
                           <h1 style="text-align: center;">어린이 보행자 교통사고</h1>
                           <hr />
                           <div class="year-select-wrap" style="text-align: center;">
                              <label for="kids_year">년도 선택:</label>
                              <select id="kids_year" class="custom-select">
                                 <option value="2023">2023년</option>
                                 <option value="2022">2022년</option>
                                 <option value="2021">2021년</option>
                                 <option value="2020">2020년</option>
                                 <option value="2019">2019년</option>
                                 <option value="2018">2018년</option>
                                 <option value="2017">2017년</option>
                                 <option value="2016">2016년</option>
                              </select>
                              &nbsp;&nbsp;
                              <label for="kids_region">지역 선택:</label>
                              <select id="kids_region" class="custom-select">
                                 <option value="서울">서울</option>
                                 <option value="부산">부산</option>
                                 <option value="대구">대구</option>
                                 <option value="인천">인천</option>
                                 <option value="대전">대전</option>
                                 <option value="광주">광주</option>
                                 <option value="울산">울산</option>
                                 <option value="세종">세종</option>
                                 <option value="경기">경기</option>
                                 <option value="경남">경남</option>
                                 <option value="경북">경북</option>
                                 <option value="충북">충북</option>
                                 <option value="충남">충남</option>
                                 <option value="전북">전북</option>
                                 <option value="전남">전남</option>
                                 <option value="강원">강원</option>
                                 <option value="제주">제주</option>
                                 <!-- 필요에 따라 추가 -->
                              </select>
                              &nbsp;&nbsp;
                              <button onclick="getAccidentData()"
                                 class="btn btn-d Jbtn-rd Jbox-btn Jprimary-btn">조회</button>

                              <hr />
                              <div id="result"></div>
                              <br>

                              <h5 class="result-card"><strong>운전자의 안전운전 의무</strong>를 강화한 민식이법 제정 후<br> 어린이 보행자 사고
                                 감소
                              </h5>

                           </div>

                           </form>

                           <br>
                           <!--
                  <div id="result"></div>

                  <ul id="log"></ul>-->
                        </div>

                     </div>
                  </div>

                  <div id="senior-section" style="position: relative; top:-200px;">
                  </div>
                  <!-- 고령 보행자 교통사고 -->
                  <div
                     class="col-md-6 text-center text-md-start mb-4 col-lg-6 text-sm-start pe-0 ps-0 col-sm-6 ps-sm-2 pe-sm-2 mb-sm-2 mb-lg-4 ps-lg-3 pe-lg-3">
                     <!-- 그래프 이미지-->
                     <div class="bento-box Jbg-img-box text-start">
                        <h1 style="text-align: center;">고령 보행자 교통사고</h1>
                        <hr />
                        <canvas id="JGraph"></canvas>
                     </div>
                  </div>
                  <div
                     class="col-md-12 text-md-start mb-4 col-lg-6 text-sm-start text-start pe-0 ps-0 col-sm-6 pe-sm-2 ps-sm-2 mb-sm-3 mb-lg-4 ps-lg-3 pe-lg-3">
                     <div class="bento-box Jbg-img-box">
                        <div class="container">
                           <h1 style="text-align: center;">고령 보행자 교통사고</h1>
                           <hr />
                           <div class="year-select-wrap" style="text-align: center;">
                              <label for="senior_year">년도 선택:</label>
                              <select id="senior_year" class="custom-select">
                                 <option value="2023">2023년</option>
                                 <option value="2022">2022년</option>
                                 <option value="2021">2021년</option>
                                 <option value="2020">2020년</option>
                                 <option value="2019">2019년</option>
                                 <option value="2018">2018년</option>
                                 <option value="2017">2017년</option>
                                 <option value="2016">2016년</option>
                              </select>

                              &nbsp;&nbsp;
                              <label for="senior_region">지역 선택:</label>
                              <select id="senior_region" class="custom-select">
                                 <option value="서울">서울</option>
                                 <option value="부산">부산</option>
                                 <option value="대구">대구</option>
                                 <option value="인천">인천</option>
                                 <option value="대전">대전</option>
                                 <option value="광주">광주</option>
                                 <option value="울산">울산</option>
                                 <option value="세종">세종</option>
                                 <option value="경기">경기</option>
                                 <option value="경남">경남</option>
                                 <option value="경북">경북</option>
                                 <option value="충북">충북</option>
                                 <option value="충남">충남</option>
                                 <option value="전북">전북</option>
                                 <option value="전남">전남</option>
                                 <option value="강원">강원</option>
                                 <option value="제주">제주</option>
                                 <!-- 필요에 따라 추가 -->
                              </select>
                              &nbsp;&nbsp;
                              <button onclick="getSeniorAccidentData()"
                                 class="btn btn-d Jbtn-rd Jbox-btn Jprimary-btn">조회</button>
                           </div>
                           <hr />
                           <div id="senior_result"></div>
                           <br>

                           <h5 class="result-card">교통사고 사망자중 평균적으로<strong>약 50%이상은</strong> 고령자 입니다.</h5>

                        </div>

                        </form>
                        <br>
                     </div>

                  </div>
                  <!-- </div> -->
                  <!-- 고령 보행자 교통사고 끝-->


                  <div id="compare-section" style="position: relative; top:-200px;"></div>
                  <!-- 10만명당  -->
                  <div
                     class="col-md-6 text-center text-md-start mb-4 col-lg-6 text-sm-start pe-0 ps-0 col-sm-6 ps-sm-2 pe-sm-2 mb-sm-2 mb-lg-4 ps-lg-3 pe-lg-3">
                     <!-- 그래프 이미지-->
                     <div id="senior-section" class="bento-box Jbg-img-box text-start">

                        <h1>&nbsp;&nbsp;&nbsp;인구10만명당 교통사고 현황</h1>
                        <hr /><br><br>

                        <div style="width: 520px;"><canvas id="acquisitions"></canvas></div>
                     </div>
                  </div>
                  <div
                     class="col-md-12 text-md-start mb-4 col-lg-6 text-sm-start text-start pe-0 ps-0 col-sm-6 pe-sm-2 ps-sm-2 mb-sm-3 mb-lg-4 ps-lg-3 pe-lg-3">
                     <div class="bento-box Jbg-img-box">
                        <div class="container">
                           <h1 style="text-align: center;">인구10만명당 교통사고 현황</h1>
                           <hr />
                           <div class="year-select-wrap" style="text-align: center;">
                              <label for="per10_year">년도 선택:</label>
                              <select id="per10_year" class="custom-select">
                                 <option value="2023">2023년</option>
                                 <option value="2022">2022년</option>
                                 <option value="2021">2021년</option>
                                 <option value="2020">2020년</option>
                                 <option value="2019">2019년</option>
                                 <option value="2018">2018년</option>
                                 <option value="2017">2017년</option>
                                 <option value="2016">2016년</option>
                              </select>
                              <button onclick="getPer10Accident()"
                                 class="btn btn-d Jbtn-rd Jbox-btn Jprimary-btn">조회</button>

                              <hr />
                              <div id="per10result"></div>
                              <br>

                              <h5 class="result-card">인구 10만명당 보행자 사고건수:<br><strong>고령 보행자가</strong> 어린이 보행자의 <ng>
                                    약2배 이상
                                 </ng>
                              </h5>
                           </div>
                           </form>
                           <br>
                        </div>

                     </div>
                  </div>

                  <!-- 10만명당 끝-->
                  <!-- </div> -->
                  <!-- <div id="policy-section" style="position: relative; top:-100px;"></div>
                  <div style="display: flex; justify-content: center; align-items: center;">
                     <img src="ppt.png" width="80%" height="90%">
                  </div> -->


                  <div id="safeZone-section" style="position: relative; top:100px;"></div>
                  <br><br><br><br><br><br>
                  <!-- <div id="kids-section" style="position: relative; top:-200px;"></div> -->
                  <!-- bloc-0 END -->
                  <div
                     style=" display: flex; justify-content: center; align-items: center; gap: 10px; margin-top: 20px;">
                     <h2 id="safeZone-section">보호구역 현황</h2>
                     <select id="regionSelect" class="safe-select custom-select">
                        <option value="서울">서울</option>
                        <option value="인천">인천</option>
                        <option value="경기">경기</option>
                        <option value="광주">광주</option>
                        <option value="대구">대구</option>
                        <option value="부산">부산</option>
                        <option value="충북">충북</option>
                        <option value="충남">충남</option>
                        <option value="제주">제주</option>
                        <!-- 추가 필요 -->
                     </select>
                     <button onclick="safeZone()" class="safe-btn btn btn-d Jbtn-rd Jbox-btn Jprimary-btn">조회</button>
                  </div>
                  <br>
                  <div style="display: flex; justify-content: center;">
                     <iframe id="safeZoneFrame" width="900px" height="900px"
                        style="display: block; margin: 0 auto;"></iframe>
                  </div>
                  <!-- ScrollToTop Button -->
                  <button aria-label="Scroll to top button" class="bloc-button btn btn-d scrollToTop"
                     onclick="scrollToTarget('1',this)"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"
                        viewBox="0 0 32 32">
                        <path class="scroll-to-top-btn-icon" d="M30,22.656l-14-13-14,13" />
                     </svg></button>
                  <!-- ScrollToTop Button END-->
               </div>
            </div>
         </div>
      </div>
      <!-- Additional JS -->
      <script src="./js/bootstrap.bundle.min.js?2023"></script>
      <script src="./js/blocs.min.js?1610"></script>
      <script src="./js/lazysizes.min.js" defer></script><!-- Additional JS END -->
      <script src="./js/script.js" defer></script>
      <script type="module" src="./js/acquisitions.js"></script>

</body>


</html>