## .env
.env

## c program
c/*
c/*.o
!c/**/*.c
!c/**/*.h
!c/**/*.a
!c/**/Makefile*

## Java
**/*.class

## Scala
scala/**/project
scala/**/target

## Maven
maven/**/target

## nodejs
node/**/node_modules
node/**/package-lock.json

## python
python/**/.venv
python/**/__pycache__/

## mongodb
mongodb/backup

## oracle
oracle/node/dbConfig.js
oracle/**/node_modules
oracle/**/package-lock.json